[Desktop Entry]
Name=gtklp
Comment=A GTK+ frontend to CUPS
Comment[pl]=Interfejs GTK+ do CUPS
Icon=gtklp
Exec=gtklp 
Terminal=false
Type=Application
Categories=GTK;System;
